version: "3.9"

services:
  postgres:
    image: postgres:17.6
    container_name: bradford-postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: "bradf0rd!2025"
      POSTGRES_DB: bradford_weather
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: